{% extends 'index.html' %}
{% load static %}
{% block body %}
    <style>
        .about-main{
            position: relative;
            top: 150px !important;
        }
        .about-rt{
            top: 100px;
            position: relative;
            padding-left: 20% !important;
        }
        .about-im{
            top: -150px !important;
            position: relative;
            left: -150px;
        }
        .tablo--1-ve-2{
            width: calc((100% - 4rem) / 2) !important;
        }
        .content-section{
            position: relative;
            top: -80px;

        }
        .markalar{
            position: relative;
            top: -80px;
        }
        .yorumlar-alani-sayfa{
            position: relative;
            top: -80px;
        }
    </style>
   <!--About Info Alanı-->
   <div class="bosluk8"></div>
   <section class="hakkimizda-bolumu-anasayfa about-main">
       <div class="h-yazi-ozel h-yazi-margin-ozel ">
       </div>
       <div class="tablo">

            <div class="row">
                <div class="col-6 p-0 m-0 ">
                    <div class=" wow fade">
                        <h2 class="h2-baslik-anasayfa-ozel1 pb-4"><strong>About Us</strong></h2>
                        <h2 class="h2-baslik-anasayfa-ozel1 wow fadeInUp pb-3" data-wow-delay="0.6s">We are ready to transform your <strong>Business</strong> <strong>Online</strong> We are ready to transform your.</h2>
                        <div class=""></div>
                        <p class="paragraf wow fadeInRight" data-wow-delay="0.7s">
                            We are dedicated to providing high-quality technology solutions to individuals, small businesses, and larger organizations in
                                the region. Our company specializes in software development, web design and development, hardware and network services, and IT consulting.
                                Our company specializes in software development, web design and development, hardware and network services, and IT consulting.
                        </p>
                        <div class=""></div>
                        <img class="divider" width="120" height="15" title="divider" alt="divider" src="{% static 'img/divider.jpg' %}">
                        
                        <div class=""></div>
                    </div>
                </div>
                <div class="col-6 about-rt">
                    <div class="bosluk333"></div>
                    <div class="row">
                        <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.8s">
                            <div class="iconleft"><i class="fa fa-user-plus service-icon3" aria-hidden="true" ></i></div>
                        </div>
                        <div class="col-sm-10 wow fadeInRight about-paddingh3 " data-wow-delay="0.9s">
                            <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Expert Staff</h3><br>
                            <p class="paragraf-info">Our team of experts has a
                                wealth of experience in the technology industry and is committed to delivering
                                exceptional service to our clients. and is committed to delivering
                                exceptional service to our clients. </p><br>
                        </div>
                    </div>
                    <div class="bosluk1"></div>
                    <div class="row">
                        <div class="col-sm-2 wow fadeInRight " data-wow-delay="1s">
                            <div class="iconleft"><i class="fa fa-bolt service-icon4" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-sm-10 wow fadeInRight about-paddingh3" data-wow-delay="1.1s">
                            <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Core Mission</h3><br>
                            <p class="paragraf-info">At NetForge Technologies, we strive to provide innovative technology
                                solutions and skills development programs that enable our clients to achieve
                                their full potential. and is committed to delivering
                                exceptional service to our clients.</p><br>
                        </div>
                    </div>
                    <div class="bosluk1"></div>
                    <div class="row">
                        <div class="col-sm-2 wow fadeInRight " data-wow-delay="1.2s">
                            <div class="iconleft"><i class="fa fa-bullseye service-icon1" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-sm-10 wow fadeInRight about-paddingh3" data-wow-delay="1.3s">
                            <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Core Vision</h3><br>
                            <p class="paragraf-info">To empower individuals and organizations with the latest technology and
                                skills to lead the digital transformation of J & K and beyond. and is committed to delivering
                                exceptional service to our clients.</p><br>
                        </div>
                    </div>
                    <div class="bosluk3rh"></div>
                </div>
            </div>

            
           <div class="tablo--1-ve-2 about-im wow fade">
               <div class="galeri1 wow zoomIn" data-wow-delay="0.5s">
                   <img class="imagerotate" src="{% static 'img/technology.png' %}" alt="">
               </div>
               <div class="galeri wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms" data-tilt>
                   <img src="{% static 'img/datax-about-2.png' %}" alt="Datax About" class="galeri__gorsel galeri__gorsel--3 zimage">
               </div>
           </div>
           


       </div>
   </section>
   <div class="bosluk4"></div>

    <!--Count-->
    <section class="content-section" data-background="#fafafa">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="17" data-status="yes">0</span>
                        <h6>Our Team</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="53" data-status="yes">0</span>
                        <h6>Happy Clients</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-delay="0.7s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="31" data-status="yes">0</span>
                        <h6>Finished Projects</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-delay="0.8s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="2" data-status="yes">0</span>
                        <h6>Our Awards</h6>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
        </div>
    </section>

    <!--Markalar Alanı-->
    <div class="markalar">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-21 wow fadeInUp" data-wow-delay="0.3s"> Technologies We Use </h2>
        </div>
        <p class="h2-baslik-hizmetler-21__paragraf wow fadeInUp" data-wow-delay="0.4s">
            We are best at the following technologies and get the highest possible solution for your business.
        </p>
        <div class="bosluk3"></div>
        <div class="h-yazi-ortalama h-yazi-margin-kucuk-21 wow fadeInUp" data-wow-delay="0.5s">
            <img src="{% static 'img/phython.jpg' %}" alt="Marka 1" class="marka">
            <img src="{% static 'img/javascript.jpg' %}" alt="Marka 2" class="marka">
            <img src="{% static 'img/django1.jpg' %}" alt="Marka 3" class="marka">
            <img src="{% static 'img/wordpress.png' %}" alt="Marka 4" class="marka">
            <img src="{% static 'img/Figma.png' %}" alt="Marka 5" class="marka">
            <div class="bosluk333"></div>
            <img src="{% static 'img/html5.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'img/css.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'img/react.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'img/php.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'img/conva.png' %}" alt="Marka 5" class="marka">

        </div>
    </div>

    <!--Yorumlar-->
    <section class="yorumlar-alani-sayfa wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h-yazi-ortalama h-yazi-margin-orta-3 wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="h2-baslik-hizmetler-yorum"> What Are Our Customers Saying ? </h2>
                    </div>
                    <p class="h2-baslik-hizmetler-yorum__yorum">
                        Every customer is valuable to us. Here are the reviews of some of our customers who chose us.
                    </p>
                    <div class="bosluk3a"></div>
                </div>
                <div class="col-12">
                    <div class="carousel-classes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.5s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We needed data science services for our company. I have never seen such a professional and committed company. Thank you for everything.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'img/testimonial1.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We worked for the virtualization of the servers in our office. They provided very fast and professional service. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'img/testimonial2.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.7s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            They quickly completed the network security of our institution. After-service support continued. Thank you very much.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'img/testimonial3.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.8s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            Thanks to data science technologies, they contributed to all business processes of our company. Thank you very much. We recommend it to everyone.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'img/testimonial4.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                        </div>
                        <!-- end swiper-wrapper -->
                        <div class="swiper-pagination"></div>
                        <!-- end swiper-pagination -->
                    </div>
                </div>
                <!-- end col-12 -->
            </div>
        </div>
    </section>
{% endblock body %}