{% extends 'index.html' %} {% load static %} {% block body %}

<style>
  .yorumlar-alani-sayfa {
    top: 100px;
    position: relative;
    margin-bottom: 100px;
  }
</style>
<section class="yorumlar-alani-sayfa wow fadeInUp" data-wow-delay="0.3s">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="h-yazi-ortalama h-yazi-margin-orta-3 wow fadeInUp"
          data-wow-delay="0.4s"
        >
          <h2 class="h2-baslik-hizmetler-yorum">Recent Blog Posts</h2>
        </div>
        <p
          class="h2-baslik-hizmetler-yorum__yorum wow fadeInUp"
          data-wow-delay="0.5s"
        >
          Be aware of developments in the digital world.
        </p>
        <div class="bosluk3a"></div>
      </div>
      <div class="row d-flex">
        {% for blog in blogs %}
        <div class="col-4">
          <div class="cardddd">
            <!-- <div class=""> -->

            <div class="swiasp wow fadeInLeft" data-wow-delay="0.5s" data-tilt>
              <div class="post-kutu" style="cursor: pointer">
                <img src="{{ blog.image.url }}" alt="{{ blog.title }}" class="haber-gorsel"  />
                <div class="datesection">
                  <span class="date">{{ blog.created_at|date:"Y.m.d" }}</span
                  >&nbsp;<span class="tt">-</span>&nbsp;<span class="category"
                    >{{ blog.category.first.name }}</span
                  >
                </div>
                <h3 class="baslik-3 h-yazi-margin-kucuk me-5">{{ blog.title }}</h3>
                <p class="post-kutu--yazi">
                  {{ blog.content|truncatechars:47 }}
                  <!-- Display a truncated version of the post content -->
                </p>
                <div class="h-yazi-ortalama h-yazi-margin-4">
                    <a href="{% url 'blog_post' blog.id %}" class="custom-button">More</a> <!-- Include the blog ID -->
                </div>
              </div>
            </div>
        </div>
        </div>
        {% endfor %}
      </div>
      
      <!-- end col-12 -->
    </div>
  </div>
  </div>
 
</section>
{% endblock body %}
