{% extends 'index.html' %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% block body %}

<style>
    .services1{
        top: 70px;
        position: relative;
        margin-bottom: 70px;
    }
    .contact_row{
        padding: 5% 13%;
    }
    .h2-baslik-hizmetler-2-s{
        font-size: 40px;
    }
    .paragraf-slider{
        color: white;
    }
    .para1{
        font-size: 16px;
        width: 70%;
        
    }
  


   
</style>
<section class="services1 wow fadeInUp" data-wow-delay="0.4s">
    <div class="bosluk3"></div>
    <div class="tabloozellik">
        <div class="tablo--1-ve-2">
            <div class="h-yazi-ortalama h-yazi-margin-orta-3">
                <h2 class="h2-baslik-hizmetler-2-s wow fadeInUp" data-wow-delay="0.5s">Contact US</h2>
            </div>
            <p class="paragraf-slider wow fadeInUp " data-wow-delay="0.6s">Digital influence is the best web designing company in India. Ouements of your businompany in India. Ouements of your business.</p>
           
        </div>
        <!--Services 1-->
        <div class="tablo--1-ve-4" >
    
        </div>
        <!--Services 2-->
        <div class="tablo--1-ve-4">
            
        </div>
    </div>
    
</section>

<section>
    <div class="row contact_row">
        <div class="col-6 ">
       
            <h2 class="h2-baslik-anasayfa-ozel">Get in Touch with Us</h2>
            <p class="para1">Digital influence is the best web designing company in India. Ouements of your </p>
            
            <div class="row">
                <div class="col-5 ">
                    <div class="row ">
                        <div class="col-1 "><i class="fa fa-2x fa-phone service-icon1 pt-3" aria-hidden="true"></i></div>
                        <div class="col-10 ">
                            <p class="para1 tx-bold">Phone Number</p>
                            <p class="para1 ">+998878987642</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1 "><i class="fa fa-envelope fa-2x service-icon1 pt-3" aria-hidden="true"></i></div>
                        <div class="col-10">
                            <p class="para1 tx-bold">Email Address</p>
                            <p class="para1 ">iamaman@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 ">
                    <div class="row ">
                        <div class="col-1 "><i class="fa fa-globe fa-2x service-icon1 pt-3" aria-hidden="true"></i></div>
                        <div class="col-10 ">
                            <p class="para1 tx-bold">Websites</p>
                            <p class="para1 ">www.netforge.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-1 "><i class="fa fa-map-marker fa-2x service-icon1 pt-3" aria-hidden="true"></i></div>
                        <div class="col-10">
                            <p class="para1 tx-bold">Address</p>
                            <p class="para1 ">Sopore J&k</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 ">
            
            
              
        </div>
    </div>
</section>
<script>
  
  
    </script>
{% endblock body %}