{% extends 'index.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
</head>
<body>
    <!--Banner Effect Section-->
    <section class="banner-sc">
        <div class="h-yazi-ozel h-yazi-margin-ozel">
        </div>
        <div class="tablo">
            <div class="tablo--1-ve-2 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bosluk333"></div>
                <h2 class="h2-baslik-anasayfa-ozel wow fadeInLeft" data-wow-delay="0.6s"> Expert Software Development Services by <strong>NetForge Technologies </strong>- Forge Ahead with Us! </h2>
                <div class="bosluk333"></div>
                <div class="bosluk9"></div>
                <p class="paragraf-slider wow fadeInLeft " data-wow-delay="0.7s" >
                    We specialize in delivering top-notch software development services tailored to your business needs. Let's transform your ideas into reality and drive success together.
                </p>
                <div class="bosluk333"></div>
                <div class="bosluk333"></div>
                <div class="row">
                    <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.8s">
                        <a href="#" class="custom-button bgimg"><i class="flaticon-bitcoin iconbutton"></i> Request Quote</a>
                    </div>

                </div>
            </div>
            <!--Slider Image Alanı-->
            <div class="tablo--1-ve-2">
                <div class="hero1 wow fadeInRight" data-wow-delay="0.2s">
                    <img class="imagerotate1" src="{% static 'frontend/img/lap144.png' %}" alt="">
                </div>
                <div class="hero2 wow slideInUp" data-wow-delay="1s">
                    <img class="imagerotate2" src="{% static 'frontend/img/hero-2.png' %}" alt="">
                </div>
                <div class="hero3 wow fadeInRight" data-wow-delay="1.1s">
                    <img class="imagerotate1" src="{% static 'frontend/img/hero-3.png' %}" alt="">
                </div>
                <div class="hero4 wow fadeInUp" data-wow-delay="1.2s">
                    <img class="imagerotate4" src="{% static 'frontend/img/hero-4.png' %}" alt="">
                </div>
                <div class="hero5 wow fadeInRight" data-wow-delay="1.3s">
                    <img class="imagerotate5" src="{% static 'frontend/img/hero-5.png' %}" alt="">
                </div>
                <div class="hero6 wow fadeInRight" data-wow-delay="1.4s">
                    <img class="imagerotate6" src="{% static 'frontend/img/hero-6.png' %}" alt="">
                </div>
                <div class="hero7 wow fadeInRight" data-wow-delay="1.5s">
                    <img class="imagerotate7" src="{% static 'frontend/img/hero-7.png' %}" alt="">
                </div>
                <div class="hero8 wow fadeInRight" data-wow-delay="1.6s">
                    <img class="imagerotate8" src="{% static 'frontend/img/hero-8.png' %}" alt="">
                </div>
                <div class="infobg1 wow fadeInUp" data-wow-delay="1.7s">
                    <img class="infobgrotate1" src="{% static 'frontend/img/hero-9.png' %}" alt="">
                </div>
                <img src="{% static 'frontend/img/slider-bg.png' %}" class="absoluteimg" alt="">
                <div class="boslukhm"></div>
            </div>
        </div>
    </section>
    <!--Services Top-->
    <!--Services 1-->
    <section class="services-top">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> Deliver <strong>Ideal Experience</strong> to Businessess </h2>
        </div>
        <p class="services-kutu2--yazi1 wow fadeInUp" data-wow-delay="0.5s">
            We promise the enourmous growth to your business.
        </p>
        <div class="bosluk3"></div>
        <div class="tabloozellik">
            <div class="tablo--1-ve-4" >
                <div class="paketler wow flipInY" data-wow-delay="0s" onclick="location.href='data-strategy.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu" >
                        <div class="kutu-duzen service-card1" >
                            <h3><a href=""> Website Design and Development Services </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-laptop-code service-icon1"></i>
                                
                            </div>
                            <p>Trust our team of professional web developers in Kashmir to craft stunning, user-friendly websites tailored to your business needs. Reach your target audience effectively and accelerate online growth with our expert website design services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 2-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.6s" onclick="location.href='software-solutions.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card2">
                            <h3><a href=""> Software Development Services </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-chalkboard-teacher service-icon2"></i>
                            </div>
                            <p> Step into the digital era with our custom software development services. Our expert team based in Kashmir, India, crafts tailored software solutions to suit your business needs. From concept to execution, we ensure seamless integration and top-notch quality, empowering your business for success in the digital world.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 3-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.7s" onclick="location.href='machine-learning.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card3">
                            <h3><a href=""> IT Consulting Services </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-chart-line service-icon3"></i>
                            </div>
                            <p>Stay ahead of the curve with our strategic IT consulting services in Kashmir, India. We offer personalized solutions to optimize your IT infrastructure and enhance security measures. Whether you're a small business or a large enterprise, our team is here to provide expert guidance and support, ensuring your technology works for you.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 4-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.8s" onclick="location.href='data-security.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card4">
                            <h3><a href=""> Digital Marketing Services </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-bullhorn service-icon4"></i>
                            </div>
                            <p>Ignite your online presence with our comprehensive digital marketing services in Kashmir, India. From social media marketing to search engine optimization (SEO) to content marketing, Google ads, Social media marketing & management etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About Info Alanı-->
    <div class="bosluk8"></div>
    <section class="hakkimizda-bolumu-anasayfa">
        <div class="h-yazi-ozel h-yazi-margin-ozel">
        </div>
        <div class="tablo">
            <div class="tablo--1-ve-2 wow fade">
                <div class="galeri1 wow zoomIn" data-wow-delay="0.5s">
                    <img class="imagerotate" src="{% static 'frontend/img/technology.png' %}" alt="">
                </div>
                <div class="galeri wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms" data-tilt>
                    <img src="{% static 'frontend/img/datax-about-2.png' %}" alt="Datax About" class="galeri__gorsel galeri__gorsel--3 zimage">
                </div>
            </div>
            <!--Galeri Görsel Alanı-->
            <div class="tablo--1-ve-3 wow fade">
                <h2 class="h2-baslik-anasayfa-ozel1 wow fadeInUp" data-wow-delay="0.6s">Transforming Businesses Online with <strong>High-Quality</strong> <strong>Technology Solutions</strong></h2>
                <div class="bosluk333"></div>
                <p class="paragraf wow fadeInRight" data-wow-delay="0.7s">
                    At NetForge Technologies, we're dedicated to providing top-notch technology solutions to individuals, small businesses, and larger organizations in Kashmir. Specializing in software development, web design, hardware, networking, and IT consulting, we're committed to delivering excellence.

                </p>
                <div class="bosluk333"></div>
                <img class="divider" width="120" height="15" title="divider" alt="divider" src="{% static 'frontend/img/divider.jpg' %}">
                <div class="bosluk333"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.8s">
                        <div class="iconleft"><i class="fa fa-user-plus service-icon3" aria-hidden="true" ></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight about-paddingh3 " data-wow-delay="0.9s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Expert Team</h3><br>
                        <p class="paragraf-info">Count on our experienced professionals who bring a wealth of industry knowledge to every project. With a focus on exceptional service, we ensure your satisfaction and success. </p><br>
                    </div>
                </div>
                <div class="bosluk1"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight " data-wow-delay="1s">
                        <div class="iconleft"><i class="fa fa-bolt service-icon4" aria-hidden="true"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight about-paddingh3" data-wow-delay="1.1s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Core Mission</h3><br>
                        <p class="paragraf-info">Our mission at NetForge Technologies is clear: to deliver innovative technology solutions and skill development programs, empowering our clients to reach their full potential.</p><br>
                    </div>
                </div>
                <div class="bosluk1"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight " data-wow-delay="1.2s">
                        <div class="iconleft"><i class="fa fa-bullseye service-icon1" aria-hidden="true"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight about-paddingh3" data-wow-delay="1.3s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">Our Core Vision</h3><br>
                        <p class="paragraf-info">We envision a future where individuals and organizations in Jammu and Kashmir and beyond lead the digital transformation, empowered by the latest technology and skills provided by NetForge Technologies.</p><br>
                    </div>
                </div>
                <div class="bosluk3rh"></div>
            </div>
        </div>
    </section>
    <div class="bosluk4"></div>
    <!-- Analysis -->
    <section class="analysis-section">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.5s">A Planned <strong>Project Timeline </strong>for Success</h2>
        </div>
        <p class="services-kutu2--yazi1 wow fadeInUp" data-wow-delay="0.6s">
            Follow our structured approach for successful project completion, whether it's a website, software development, or related activities:
        </p>
        <div class="bosluk3"></div>
        <div class="tabloozellik">
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.7s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            <div class="ok-kutu" style="background-image: url({% static 'frontend/img/arrow-1.png' %});"></div>
                            <div class="icon-box color1">
                                <i class="fa fa-leanpub " aria-hidden="true" ></i>
                                
                            </div>
                            <div class="content-box wow slideInUp">
                            
                                <h3>1. Strategy and planning</h3>
                                <p>Define project goals, objectives, and requirements. Develop a comprehensive plan outlining tasks, timelines, and resources needed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Analysis 2-->
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.8s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            <div class="ok-kutu" style="background-image: url({% static 'frontend/img/arrow-1.png' %});"></div>
                            <div class="icon-box color2" >
                                <i class="fa-solid fa-wand-magic-sparkles "></i>
                                
                            </div>
                            <div class="content-box wow slideInUp">
                                <h3>2. Design</h3>
                                <p>Create visually appealing interfaces and user experiences. Incorporate layout, typography, and responsive design for optimal usability.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Analysis 3-->
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.9s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            <div class="icon-box color3">
                                <i class="fa-solid fa-feather"></i>
                                
                            </div>
                            <div class="content-box wow slideInUp">
                                <h3>3. Content Creation and Assembly</h3>
                                <p>Generate and organize written and multimedia content to effectively convey information. This includes text, images, videos, and other media.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--analysis sec 2-->
            <div class="analysi-sec-2" style="">
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.8s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            <div class="ok-kutu rotat" style="background-image: url({% static 'frontend/img/arrow-1.png' %});"></div>
                            <div class="icon-box color4">
                                <i class="fa-solid fa-rocket"></i>
                               
                            </div> 
                            <div class="content-box wow slideInUp">
                                <h3>6. Deployment and Launch</h3>
                                <p>Make the project live and accessible to the intended audience. Ensure a smooth transition from development to production environment.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.8s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            <div class="ok-kutu rotat" style="background-image: url({% static 'frontend/img/arrow-1.png' %});"></div>
                            <div class="icon-box color5">
                                <i class="fa-solid fa-yin-yang"></i>
                                
                            </div>
                            <div class="content-box wow slideInUp">
                                <h3>5. Beta Testing and Review</h3>
                                <p>Conduct thorough testing by user groups to identify and address any issues or bugs. Gather feedback for continuous improvement.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tablo--1-ve-3">
                <div class="paketler wow fadeInLeft" data-wow-delay="0.8s" onclick="location.href='#';" style="cursor:pointer;">
                    <div class="analiz-alani">
                        <div class="inner-box">
                            
                            <div class="icon-box color6">
                                <i class="fa-solid fa-layer-group"></i>
                                
                                
                            </div>
                            <div class="content-box wow slideInUp">
                                <h3>4. Development and Programming</h3>
                                <p>Implement functionalities and features using various programming languages and technologies. Ensure code quality and scalability.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!--Services Alanı-->
    <section class="services1 wow fadeInUp" data-wow-delay="0.4s">
        <div class="bosluk3"></div>
        <div class="tabloozellik">
            <div class="tablo--1-ve-2">
                <div class="h-yazi-ortalama h-yazi-margin-orta-3">
                    <h2 class="h2-baslik-hizmetler-2-s wow fadeInUp" data-wow-delay="0.5s">Step into the Digital Age with Our Web Services</h2>
                </div>
                <p class="paragraf-sol-s wow fadeInUp" data-wow-delay="0.6s">
                    NetForge Technologies stands as India's premier web designing company, crafting professional and dynamic websites tailored to businesses of all sizes. Our team of experts, including designers, developers, marketers, and IT specialists, collaborates to deliver exceptional designs and strategies aligned with your business goals.
                </p>
                <a href="services.html" class="buton buton--beyaz wow fadeInUp" data-wow-delay="0.7s">All Services +</a>
                <div class="galeri1">
                    <img class="imagerotate" src="{% static 'frontend/img/technology.png' %}" alt="">
                </div>
            </div>
            <!--Services 1-->
            <div class="tablo--1-ve-4" >
                <div class="paketler wow fadeInRight" data-wow-delay="0.8s" onclick="location.href='data-strategy.html';" style="cursor:pointer;">
                    <div class="services-special" >
                        <div class="inner-box serv-card">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color1"></span>
                                    <span class="icon icon-2 color5"></span>
                                    <span class="icon icon-3 color4"></span>
                                </div>
                                <i class="fas fa-globe-americas"></i>
                                
                            </div>
                            <h3 class="h3-baslik-hizmet">Web Designing</h3>
                            <p>Craft exquisite and appealing websites through programming, animation, and artistic styling. Our professional web design services ensure a captivating online presence.</p>
                            <a href="data-strategy.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 2-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow fadeInRight" data-wow-delay="0.9s" onclick="location.href='machine-learning.html';" style="cursor:pointer;">
                    <div class="services-special">
                        <div class="inner-box serv-card">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color4"></span>
                                    <span class="icon icon-2 color5"></span>
                                    <span class="icon icon-3 color1"></span>
                                </div>
                                <i class="fas fa-bullhorn"></i>
                                
                                
                            </div>
                            <h3 class="h3-baslik-hizmet">Digital Marketing</h3>
                            <p>Maximize your online visibility with our professional digital marketing services. Attract new customers and clients to your business in the vast online space.</p>
                            <a href="machine-learning.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabloozellik">
            <!--Services 3-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow fadeInLeft" data-wow-delay="1s" onclick="location.href='software-solutions.html';" style="cursor:pointer;">
                    <div class="services-special">
                        <div class="inner-box serv-card">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color4"></span>
                                    <span class="icon icon-2 color1"></span>
                                    <span class="icon icon-3 color5"></span>
                                </div>
                                <i class="fa fa-wordpress" aria-hidden="true"></i>
                            </div>
                            <h3 class="h3-baslik-hizmet">Wordpress Development</h3>
                            <p>Experience progressive and splendid WordPress solutions at affordable prices. Benefit from our expertise to achieve the perfect WordPress website.</p>
                            <a href="software-solutions.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 4-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow fadeInLeft" data-wow-delay="1.1s" onclick="location.href='business-mind.html';" style="cursor:pointer;">
                    <div class="services-special">
                        <div class="inner-box serv-card">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color5"></span>
                                    <span class="icon icon-2 color1"></span>
                                    <span class="icon icon-3 color4"></span>
                                </div>
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                               
                            </div>
                            <h3 class="h3-baslik-hizmet">Software Solutions</h3>
                            <p>We are geared to offer solutions in the areas of IT support, IT staffing, Windows Support, software Engineering and Emerging Technologies.</p>
                            <a href="business-mind.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 5-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow fadeInRight" data-wow-delay="1.2s" onclick="location.href='financial-services.html';" style="cursor:pointer;">
                    <div class="services-special">
                        <div class="inner-box serv-card">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color4"></span>
                                    <span class="icon icon-2 color5"></span>
                                    <span class="icon icon-3 color1"></span>
                                </div>
                                <i class="fas fa-code"></i>
                            </div>
                            <h3 class="h3-baslik-hizmet">&nbsp;&nbsp;Web&nbsp;&nbsp; Development</h3>
                            <p>Get fully responsive websites with high-quality services, chat and social integration, and fast loading speeds. Elevate your online presence with our web development expertise.</p>
                            <a href="financial-services.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 6-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow fadeInRight" data-wow-delay="1.3s" onclick="location.href='data-security.html';" style="cursor:pointer;">
                    <div class="services-special">
                        <div class="inner-box serv-card " style="padding-left:50px; padding-right:51px">
                            <div class="icon-box ">
                                <div class="anim-icon">
                                    <span class="icon icon-1 color5"></span>
                                    <span class="icon icon-2 color4"></span>
                                    <span class="icon icon-3 color1"></span>
                                </div>
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <h3 class="h3-baslik-hizmet">CMS Development</h3>
                            <!--<div class="bosluk333"></div>   for spacing-->
                            <p>Manage website content effortlessly with our user-friendly content management system (CMS). Easily add, modify, and publish content without any programming skills required.</p>
                            <a href="data-security.html" class="custom-button">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-section-2">
        <div class="tablo">
            <div class="tablo--1-ve-2 wow zoomIn" data-wow-delay="0.5s">
                <div class="galeri1">
                    <img class="imagerotate" src="{% static 'frontend/img/technology.png' %}" alt="">
                </div>
                <div class="galeri wow slideInUp" data-wow-delay="100ms" data-wow-duration="1500ms" data-tilt>
                    <img src="{% static 'frontend/img/web-developer.png' %}" alt="Datax About" class="galeri__gorsel galeri__gorsel--3 zimage">
                </div>
            </div>
            <!--Galeri Görsel Alanı-->
            <div class="tablo--1-ve-3 wow fadeInUp" data-wow-delay="0.3s">
                <h2 class="h2-baslik-anasayfa-ozel1 wow fadeInUp" data-wow-delay="0.4s">The Secrets to <strong>Online Success</strong> for Your Business</h2>
                <div class="bosluk333"></div>
                <p class="paragraf wow fadeInUp" data-wow-delay="0.5s">Discover the key elements that drive profitability for your digital venture. We empower you to connect with online users through a robust website that embodies your business ethos.</p>
                <div class="bosluk333"></div>
                <img class="divider" width="120" height="15" title="divider" alt="divider" src="{% static 'frontend/img/divider.jpg' %}">
                <div class="bosluk333"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.6s">
                        <div class="iconleft2"><i class="flaticon-heart-1"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight" data-wow-delay="0.7s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">✔ Attractive UI/UX design</h3><br>
                        <p>Captivate your audience with visually appealing and user-friendly website design.</p>
                    </div>
                </div>
                <div class="bosluk1"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight" data-wow-delay="0.8s">
                        <div class="iconleft2"><i class="flaticon-car"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight" data-wow-delay="0.9s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">✔ Comprehensive Website Development</h3><br>
                        <p>Craft a fully functional and engaging website that represents your brand effectively.</p>
                    </div>
                </div>
                <div class="bosluk1"></div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight" data-wow-delay="1s">
                        <div class="iconleft2"><i class="flaticon-claim"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight" data-wow-delay="1.1s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">✔ Digital Marketing Strategies</h3><br>
                        <p>Expand your online reach with tailored digital marketing campaigns to attract new customers.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 wow fadeInRight" data-wow-delay="1.2s">
                        <div class="iconleft2"><i class="flaticon-insurance"></i></div>
                    </div>
                    <div class="col-sm-10 wow fadeInRight" data-wow-delay="1.3s">
                        <h3 class="baslik-3s h-yazi-margin-kucuk1">✔ Search Engine Optimization (SEO)</h3><br>
                        <p>Boost your online visibility and rank higher on search engine results pages for increased traffic and conversions.</p>
                    </div>
                </div>
                <div class="bosluk3rh"></div>
            </div>
        </div>
    </section>
    <!--Count-->
    <section class="content-section" data-background="#fafafa">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="17" data-status="yes">0</span>
                        <h6>Our Team</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="53" data-status="yes">0</span>
                        <h6>Happy Clients</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-delay="0.7s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="31" data-status="yes">0</span>
                        <h6>Finished Projects</h6>
                    </div>
                </div>
                <!-- end col-4 -->
                <div class="col-lg-3 col-md-6 wow fadeInRight" data-wow-delay="0.8s">
                    <div class="counter-box wow fade">
                        <span class="odometer" data-count="2" data-status="yes">0</span>
                        <h6>Our Awards</h6>
                    </div>
                </div>
                <!-- end col-4 -->
            </div>
        </div>
    </section>
    <!--Projects Alanı-->
    <div class="bosluk3"></div>
    <section class="projeler-sayfa-alani" style="overflow:hidden">
        <div class="h-yazi-ortalama h-yazi-margin-orta-4 wow fadeInUp"  data-wow-delay="0.3s">
            <h2 class="h2-baslik-hizmetler-2"> Our Latest <strong>Projects</strong> </h2>
        </div>
        <p class="h2-baslik-hizmetler-3__paragraf wow fadeInUp" data-wow-delay="0.4s">
            We always try to implement our creative ideas at the highest level.
        </p>
        <div class="component-systemTabs">
            <div class="tabs-container">
                <!--Projects Tab1-->
                <div id="tab-1" data-tab-title="Datax Project" class="tab-content current">
                    <div class="cards">
                        <div class="tabloozellik">
                            <div class="tablo--1-ve-3">
                                <div class="card wow zoomIn" data-wow-delay="0.5s" onclick="window.location.href='project-detail.html'">
                                    <img src="{% static 'frontend/img/project4.png' %}" alt="Project">
                                    <div class="cardContent">
                                        <h2>FEED India Org</h2>
                                        <button onclick="window.location.href='studies-detail.html'">View</button>
                                    </div>
                                </div>
                            </div>
                            <!--Projects Tab2-->
                            <div class="tablo--1-ve-3">
                                <div class="card wow zoomIn" data-wow-delay="0.6s" onclick="window.location.href='project-detail.html'">
                                    <img src="{% static 'frontend/img/project5.png' %}" alt="Project">
                                    <div class="cardContent">
                                        <h2>Kashmir Advent</h2>
                                        <button onclick="window.location.href='studies-detail.html'">View</button>
                                    </div>
                                </div>
                            </div>
                            <!--Projects Tab3-->
                            <div class="tablo--1-ve-3">
                                <div class="card wow zoomIn" data-wow-delay="0.7s" onclick="window.location.href='project-detail.html'">
                                    <img src="{% static 'frontend/img/project6.png' %}" alt="Project">
                                    <div class="cardContent">
                                        <h2>Peace BPO Pvt Ltd</h2>
                                        <button onclick="window.location.href='project-detail.html'">View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-yazi-ortalama h-yazi-margin">
            <a href="projects.html" class="custom-button">All Projects</a>
        </div>
    </section>
    <!--Pack Alanı-->
    <!--pack 1-->
    <section class="paketler-alani">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <div class="icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> <strong>Special Packs</strong> </h2>
        </div>
        <p class="h2-baslik-hizmetler-2__paragraf wow fadeInUp" data-wow-delay="0.5s">
            Select pricing plan to get more
        </p>
        <div class="bosluk3"></div>
        <div class="tablo">
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.6s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--1">
                            <div class="iconw"><i class="h-flaticon-039-servers-5"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">Static Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                4,5 Pages business website + Responsive Design + Content Upload + Optimized website.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ 5 Pages Design</li>
                                <li>✓ Free 1 Year Domain</li>
                                <li>✓ Free 1 Year Hosting</li>
                                <li>✓ Responsive Design</li>
                                <li style="margin-left:13%">✓ Free SSL Certificate</li>
                                
                                

                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-1">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">Static Website</p>
                                <p class="paketler3__pr-degeri">Rs.10,699</p>
                            </div>
                            <a href="#popup-it-support" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--pack 2-->
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.7s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--2">
                            <div class="iconw"><i class="h-flaticon-042-servers-4"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">Dynamic Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                5,7 Pages business website + Content Upload + SEO Optimized website + blog + More.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ 7 Pages Design</li>
                                <li>✓ Free 1 Year Domain</li>
                                <li>✓ 5 Professional Email IDs</li>
                                <li>✓ Admin Panel</li>
                                <li style="margin-left:13%">✓ SEO Friendly</li>
                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-2">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">Dynamic Website</p>
                                <p class="paketler3__pr-degeri">Rs.14,799</p>
                            </div>
                            <a href="#popup-cloud-service" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--pack 3-->
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.8s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--3">
                            <div class="iconw"><i class="h-flaticon-040-server"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">E-Commerce Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                Ecommerce Platform + SEO optimized + High Quality Design + Payment integration.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ Customised Design</li>
                                <li>✓ SEO Freindly</li>
                                <li>✓ Customised Admin Panel</li>
                                <li>✓ Payment Gateway Integration</li>
                                <li>✓ SMS Gateway Integration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-3">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">E-Commerce Website</p>
                                <p class="paketler3__pr-degeri">Rs.19,899</p>
                            </div>
                            <a href="#popup-server-virtual" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Markalar Alanı-->
    <div class="markalar">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-21 wow fadeInUp" data-wow-delay="0.3s"> Technologies We Use </h2>
        </div>
        <p class="h2-baslik-hizmetler-21__paragraf wow fadeInUp" data-wow-delay="0.4s">
            We are best at the following technologies and get the highest possible solution for your business.
        </p>
        <div class="bosluk3"></div>
        <div class="h-yazi-ortalama h-yazi-margin-kucuk-21 wow fadeInUp" data-wow-delay="0.5s">
            <img src="{% static 'frontend/img/phython.jpg' %}" alt="Marka 1" class="marka">
            <img src="{% static 'frontend/img/javascript.jpg' %}" alt="Marka 2" class="marka">
            <img src="{% static 'frontend/img/django1.jpg' %}" alt="Marka 3" class="marka">
            <img src="{% static 'frontend/img/wordpress.png' %}" alt="Marka 4" class="marka">
            <img src="{% static 'frontend/img/Figma.png' %}" alt="Marka 5" class="marka">
            <div class="bosluk333"></div>
            <img src="{% static 'frontend/img/html5.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'frontend/img/css.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'frontend/img/react.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'frontend/img/php.png' %}" alt="Marka 5" class="marka">
            <img src="{% static 'frontend/img/conva.png' %}" alt="Marka 5" class="marka">

        </div>
    </div>
    <!--Yorumlar-->
    <section class="yorumlar-alani-sayfa wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h-yazi-ortalama h-yazi-margin-orta-3 wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="h2-baslik-hizmetler-yorum"> What Are Our Customers Saying ? </h2>
                    </div>
                    <p class="h2-baslik-hizmetler-yorum__yorum">
                        Every customer is valuable to us. Here are the reviews of some of our customers who chose us.
                    </p>
                    <div class="bosluk3a"></div>
                </div>
                <div class="col-12">
                    <div class="carousel-classes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.5s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We needed data science services for our company. I have never seen such a professional and committed company. Thank you for everything.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'frontend/img/testimonial1.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We worked for the virtualization of the servers in our office. They provided very fast and professional service. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'frontend/img/testimonial2.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.7s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            They quickly completed the network security of our institution. After-service support continued. Thank you very much.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'frontend/img/testimonial3.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.8s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            Thanks to data science technologies, they contributed to all business processes of our company. Thank you very much. We recommend it to everyone.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg"><img src="{% static 'frontend/img/testimonial4.png' %}" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                        </div>
                        <!-- end swiper-wrapper -->
                        <div class="swiper-pagination"></div>
                        <!-- end swiper-pagination -->
                    </div>
                </div>
                <!-- end col-12 -->
            </div>
        </div>
    </section>
    <!--Posts-->
    <section class="yorumlar-alani-sayfa wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h-yazi-ortalama h-yazi-margin-orta-3 wow fadeInUp" data-wow-delay="0.4s">
                        <h2 class="h2-baslik-hizmetler-yorum"> Recent Blog Posts </h2>
                    </div>
                    <p class="h2-baslik-hizmetler-yorum__yorum wow fadeInUp" data-wow-delay="0.5s">
                        Be aware of developments in the digital world.
                    </p>
                    <div class="bosluk3a"></div>
                </div>
                <div class="col-12">
                    <div class="carousel-classes">
                        <div class="swiper-wrapper">
                            {% for post in posts %}
                                <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.5s" data-tilt>
                                    <div class="post-kutu" onclick="location.href='{% url 'blog_post_detail' post.slug %}';" style="cursor:pointer;">
                                        <img src="{% static 'frontend/img/'|add:post.image %}" alt="{{ post.title }}" class="haber-gorsel">
                                        <div class="datesection">
                                            <span class="date">{{ post.published_date|date:"d.m.Y" }}</span>&nbsp;
                                            <span class="tt">-</span>&nbsp;
                                            <span class="category">{{ post.category }}</span>
                                        </div>
                                        <h3 class="baslik-3 h-yazi-margin-kucuk">{{ post.title }}</h3>
                                        <p class="post-kutu--yazi">
                                            {{ post.excerpt }}
                                        </p>
                                        <div class="h-yazi-ortalama h-yazi-margin-4">
                                            <a href="{% url 'blog_post_detail' post.slug %}" class="custom-button">More</a>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No blog posts available.</p>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'frontend/img/about-bg.png' %}" class="absoluteimg2" alt="">
    </section>
    
    
</body>
</html>
{% endblock body %}