{% extends 'index.html' %}
{% block body %}
{% load static %}

 
    <header class="bg-dark text-white text-center py-5">
        <h1>View More</h1>
    </header>

    <div class="container mt-5 pt-4">
        <div class="row">
            <div class="col-8">
                <h2 class="text-center">Our Projects</h2>
                <p class="text-center">Explore our recent projects and see how we can help you achieve your digital
                </p>
                <p class="text-center">{{ project.description }}</p>

                <!-- Start of Django Loop -->
             
                <div id="projectCarousel{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner" style="height: 340px;">
                        <!-- Loop through each project's images -->
                        {% for img in project.image.all %}
                        <div class="carousel-item karosal {% if forloop.first %}active{% endif %}">
                            <img class="imagge" src="{{ img.image.url }}" alt="Image for {{ project.name }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ project.name }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#projectCarousel{{ forloop.counter }}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#projectCarousel{{ forloop.counter }}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            

                <div class="text-center mt-3 mb-3">
                    <div id="paginationnn{{ forloop.counter }}" class="pagination">
                        <!-- Pagination based on the number of images -->
                        {% for img in project.image.all %}
                        <span class="pagination-bullet {% if forloop.first %}active-bullet bullettt{% endif %}"
                            data-bs-target="#projectCarousel{{ forloop.parentloop.counter }}"
                            data-bs-slide-to="{{ forloop.counter0 }}"></span>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">

                <div class="portfolio-detailsss text-start mt-4">
                    <h2 class="pro" style="color: orangered;">Project Details</h2>
                    <hr>
                    <p><b>Category:</b> {{ project.category }}</p>
                    <p><b>Client:</b> {{ project.client }}</p>
                    <p><b>Project Date:</b> {{ project.project_date }}</p>
                    <!-- <p><b>Project URL:</b> <a href="{{ project.project_url }}" target="_blank">{{ project.project_url}}</a></p> -->
                </div>
                <hr>
                {% for portfolio in portfolio %}
                <div class="proje m-2">
                    <h3 class="proj mt-4">{{ portfolio.title }}</h3>
                    <p class="text">{{ portfolio.description }}</p>
                </div>
                {% endfor %}     
                <!-- End of Django Loop -->
            </div>      
        </div>
    </div>

   

{% endblock body %}