{% extends 'index.html' %}
{% block body %}
{% load static %}

 <style>
    .karosal,
.imagge {
    min-width: 100% !important;
    height: auto;
    text-align: center;
    justify-content: center;
    margin-left: 29px !important;
}
 </style>
<section class="services1 wow fadeInUp mt-5 " data-wow-delay="0.4s">
    <div class="bosluk3"></div>
    <div class="tabloozellik">
        <div class="tablo--1-ve-2 mt-5 pt-5">
            <div class="h-yazi-ortalama h-yazi-margin-orta-3 mt-5">
                <h2 class="h2-baslik-hizmetler-2-s wow fadeInUp mt-5" data-wow-delay="0.5s">Our Projects</h2>
            </div>
            <p class="paragraf-slider text-white wow fadeInUp mt-5" data-wow-delay="0.6s">Explore our recent projects and see how we can help you achieve your digital.</p>
           
        </div>
        <!--Services 1-->
        <div class="tablo--1-ve-4" >
    
        </div>
        <!--Services 2-->
        <div class="tablo--1-ve-4">
            
        </div>
    </div>
    
</section>

<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col-8">
            <div id="projectCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" style="height: 340px;">
                    <!-- Loop through each project's images -->
                    {% if project.images.all %}
                        {% for img in project.images.all %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="imagge" src="{{ img.image.url }}" alt="Image for {{ project.name }}">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ project.name }}</h5>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel-item active">
                            <img class="imagge" src="{% static 'path/to/default-image.jpg' %}" alt="Default Image">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>No Images Available</h5>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="text-center mt-3 mb-3">
                <div id="paginationnn" class="pagination">
                    <!-- Pagination based on the number of images -->
                    {% for img in project.image.all %}
                    <span class="pagination-bullet {% if forloop.first %}active-bullet{% endif %}"
                        data-bs-target="#projectCarousel"
                        data-bs-slide-to="{{ forloop.counter0 }}"></span>
                    {% endfor %}
                </div>
            </div>
            <h3 class="proj fw-bold mx-5 mt-4">{{ project.title }}</h3>
            <p class="text-start my-5 mx-5">{{ project.description }}</p>
        </div>
        
        <div class="col-4">
            <div class="portfolio-detailsss text-start">
                <h2 class="pro" style="color: orangered;">Project Details</h2>
                <hr>
                <p><b>Category:</b> {{ project.category }}</p>
                <p><b>Client:</b> {{ project.client }}</p>
                <p><b>Project Date:</b> {{ project.project_date }}</p>
                <!-- <p><b>Project URL:</b> <a href="{{ project.project_url }}" target="_blank">{{ project.project_url}}</a></p> -->
            </div>
            <hr>
            <div class="proje m-2">
                <!-- <h3 class="proj mt-4">{{ project.title }}</h3>
                <p class="text">{{ prot.description }}</p> -->
            </div>        
        </div>      
    </div>
</div>


   

{% endblock body %}