{% extends 'index.html' %}
{% load static %}
{% block body %}

<section class="projeler-sayfa-alani" style="overflow:hidden">
    <div class="h-yazi-ortalama h-yazi-margin-orta-4 wow fadeInUp" data-wow-delay="0.3s">
        <h2 class="h2-baslik-hizmetler-2"> Our Latest <strong>Projects</strong> </h2>
    </div>
    <p class="h2-baslik-hizmetler-3__paragraf wow fadeInUp" data-wow-delay="0.4s">
        We always try to implement our creative ideas at the highest level.
    </p>
    <div class="component-systemTabs">
        <div class="tabs-container">
            <!--Projects Tab1-->
            <div id="tab-1" data-tab-title="Datax Project" class="tab-content current">
                <div class="cards">
                    <div class="tabloozellik">
                        {% for card in cards %}
                        <a href="{% url 'project_detail' card.project.id %}">
                            <div class="tablo--1-ve-3">
                                <div class="card wow zoomIn" data-wow-delay="0.5{{ forloop.counter }}s"
                                    onclick="window.location.href='project-detail.html'">
                                    <img src="{{ card.image.url }}" alt="{{ card.title }}">


                                    <div class="cardContent">
                                        <h2>{{ card.title }}</h2>
                                        <button onclick="window.location.href='{{ card.project_url }}'">View</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

   


    <div class="h-yazi-ortalama h-yazi-margin">
        <a href="{% url 'viewmore'  %}" class="custom-button">Send Quote</a>
    </div>
</section>
{% endblock body %}