{% extends 'index.html' %}
{% load static %}
{% block body %}
    <!--Banner Effect Section-->
    <section class="banner-sc">
        <div class="h-yazi-ozel h-yazi-margin-ozel">
        </div>
        <div class="tablo">
            <div class="tablo--1-ve-2 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bosluk333"></div>
                <h2 class="h2-baslik-anasayfa-ozel wow fadeInLeft" data-wow-delay="0.6s"> NetForge Technologies - <strong>Forge Ahead with </strong>NetForge Technologies </h2>
                <div class="bosluk333"></div>
                <div class="bosluk9"></div>
                <p class="paragraf-slider wow fadeInLeft " data-wow-delay="0.7s" >
                    We strive to provide innovative technology solutions and skills development programs that enable our clients to achieve their full potential.
                </p>
                <div class="bosluk333"></div>
                <div class="bosluk333"></div>
                <div class="row">
                    <div class="col-sm-6 wow fadeInLeft" data-wow-delay="0.8s">
                        <a href="#" class="custom-button bgimg"><i class="flaticon-bitcoin iconbutton"></i> Request Quote</a>
                    </div>

                </div>
            </div>
            <!--Slider Image Alanı-->
            <div class="tablo--1-ve-2">
                <div class="hero1 wow fadeInRight" data-wow-delay="0.2s">
                    <img class="imagerotate1" src="{% static 'img/lap144.png' %}" alt="">
                </div>
                <div class="hero2 wow slideInUp" data-wow-delay="1s">
                    <img class="imagerotate2" src="{% static 'img/hero-2.png' %}" alt="">
                </div>
                <div class="hero3 wow fadeInRight" data-wow-delay="1.1s">
                    <img class="imagerotate1" src="{% static 'img/hero-3.png' %}" alt="">
                </div>
                <div class="hero4 wow fadeInUp" data-wow-delay="1.2s">
                    <img class="imagerotate4" src="{% static 'img/hero-4.png' %}" alt="">
                </div>
                <div class="hero5 wow fadeInRight" data-wow-delay="1.3s">
                    <img class="imagerotate5" src="{% static 'img/hero-5.png' %}" alt="">
                </div>
                <div class="hero6 wow fadeInRight" data-wow-delay="1.4s">
                    <img class="imagerotate6" src="{% static 'img/hero-6.png' %}" alt="">
                </div>
                <div class="hero7 wow fadeInRight" data-wow-delay="1.5s">
                    <img class="imagerotate7" src="{% static 'img/hero-7.png' %}" alt="">
                </div>
                <div class="hero8 wow fadeInRight" data-wow-delay="1.6s">
                    <img class="imagerotate8" src="{% static 'img/hero-8.png' %}" alt="">
                </div>
                <div class="infobg1 wow fadeInUp" data-wow-delay="1.7s">
                    <img class="infobgrotate1" src="{% static 'img/hero-9.png' %}" alt="">
                </div>
                <img src="{% static 'img/slider-bg.png' %}" class="absoluteimg" alt="">
                <div class="boslukhm"></div>
            </div>
        </div>
    </section>
    <!--Services 1-->
    <section class="services-top">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> Deliver <strong>Ideal Experience</strong> to Businessess </h2>
        </div>
        <p class="services-kutu2--yazi1 wow fadeInUp" data-wow-delay="0.5s">
            We promise the enourmous growth to your business.
        </p>
        <div class="bosluk3"></div>
        <div class="tabloozellik">
            <div class="tablo--1-ve-4" >
                <div class="paketler wow flipInY" data-wow-delay="0s" onclick="location.href='data-strategy.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu" >
                        <div class="kutu-duzen service-card1" >
                            <h3><a href=""> Website Designing </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-laptop-code service-icon1"></i>
                                
                            </div>
                            <p>We are most trusted and professional web developers in kashmir. We design beautiful and professional websites for you to reach the target audiences and accelerate online growth.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 2-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.6s" onclick="location.href='software-solutions.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card2">
                            <h3><a href=""> UX/UI Design </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-chalkboard-teacher service-icon2"></i>
                            </div>
                            <p>Keeping the user interaction and user experience in view, we design and implement all the experiences of a user has while interacting with the digital tool, such as a website.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 3-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.7s" onclick="location.href='machine-learning.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card3">
                            <h3><a href=""> SEO </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-chart-line service-icon3"></i>
                            </div>
                            <p>if you have a website and it isn't helping your business, then it isn't being picked up by the search engines.SEO delivers the higher volumes of quality website traffic.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Services 4-->
            <div class="tablo--1-ve-4">
                <div class="paketler wow flipInY" data-wow-delay="0.8s" onclick="location.href='data-security.html';" style="cursor:pointer;">
                    <div class="hizmet-kutu">
                        <div class="kutu-duzen service-card4">
                            <h3><a href=""> Digital Marketing </a></h3>
                            <div class="boslukicon"></div>
                            <div class="icon-box">
                                <span class="border-layer"></span>
                                <i class="fas fa-bullhorn service-icon4"></i>
                            </div>
                            <p>Grow your business with our high-quality Digital Marketing Services including social media marketing, mobile marketing, email marketing, conversion optimization etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ================service=============== -->
<section class="services1 wow fadeInUp" data-wow-delay="0.4s">
    <div class="bosluk3"></div>
    <div class="tabloozellik">
        <div class="tablo--1-ve-2">
            <div class="h-yazi-ortalama h-yazi-margin-orta-3">
                <h2 class="h2-baslik-hizmetler-2-s wow fadeInUp" data-wow-delay="0.5s">Our web services direct you to the digital age</h2>
            </div>
            <p class="paragraf-sol-s wow fadeInUp" data-wow-delay="0.6s">
                Digital influence is the best web designing company in India. Our web experts design and develop professional and dynamic websites for all types of businesses. We have a team of professional website designers, website developers, marketers, and IT specialists who combine their knowledge and experience to create exceptional designs and strategies tailored to the needs and requirements of your business.
            </p>
            <a href="services.html" class="buton buton--beyaz wow fadeInUp" data-wow-delay="0.7s">All Services +</a>
            <div class="galeri1">
                <img class="imagerotate" src="{% static 'img/technology.png' %}" alt="">
            </div>
        </div>
        <!--Services 1-->
        <div class="tablo--1-ve-4" >
            <div class="paketler wow fadeInRight" data-wow-delay="0.8s" onclick="location.href='data-strategy.html';" style="cursor:pointer;">
                <div class="services-special" >
                    <div class="inner-box serv-card">
                        <div class="icon-box">
                            <div class="anim-icon">
                                <span class="icon icon-1 color1"></span>
                                <span class="icon icon-2 color5"></span>
                                <span class="icon icon-3 color4"></span>
                            </div>
                            <i class="fas fa-globe-americas"></i>
                            
                        </div>
                        <h3 class="h3-baslik-hizmet">Web Designing</h3>
                        <p>Designing services make the website exquisite and appealing.Through programming, animation, and artistic styling, we provide professional web design services.</p>
                        <a href="data-strategy.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Services 2-->
        <div class="tablo--1-ve-4">
            <div class="paketler wow fadeInRight" data-wow-delay="0.9s" onclick="location.href='machine-learning.html';" style="cursor:pointer;">
                <div class="services-special">
                    <div class="inner-box serv-card">
                        <div class="icon-box">
                            <div class="anim-icon">
                                <span class="icon icon-1 color4"></span>
                                <span class="icon icon-2 color5"></span>
                                <span class="icon icon-3 color1"></span>
                            </div>
                            <i class="fas fa-bullhorn"></i>
                            
                            
                        </div>
                        <h3 class="h3-baslik-hizmet">Digital Marketing</h3>
                        <p>Digital Influence, a professional digital marketing company, will ensure that new customers and clients are able to find your business in online space.</p>
                        <a href="machine-learning.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabloozellik">
        <!--Services 3-->
        <div class="tablo--1-ve-4">
            <div class="paketler wow fadeInLeft" data-wow-delay="1s" onclick="location.href='software-solutions.html';" style="cursor:pointer;">
                <div class="services-special">
                    <div class="inner-box serv-card">
                        <div class="icon-box">
                            <div class="anim-icon">
                                <span class="icon icon-1 color4"></span>
                                <span class="icon icon-2 color1"></span>
                                <span class="icon icon-3 color5"></span>
                            </div>
                            <i class="fa fa-wordpress" aria-hidden="true"></i>
                        </div>
                        <h3 class="h3-baslik-hizmet">Wordpress Development</h3>
                        <p>We offer progressive and splendid WordPress Services in India at an affordable price. We ensure that our clients get a perfect WordPress solution.</p>
                        <a href="software-solutions.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Services 4-->
        <div class="tablo--1-ve-4">
            <div class="paketler wow fadeInLeft" data-wow-delay="1.1s" onclick="location.href='business-mind.html';" style="cursor:pointer;">
                <div class="services-special">
                    <div class="inner-box serv-card">
                        <div class="icon-box">
                            <div class="anim-icon">
                                <span class="icon icon-1 color5"></span>
                                <span class="icon icon-2 color1"></span>
                                <span class="icon icon-3 color4"></span>
                            </div>
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                           
                        </div>
                        <h3 class="h3-baslik-hizmet">Software Solutions</h3>
                        <p>We are geared to offer solutions in the areas of IT support, IT staffing, windows support, software engineering and emerging technologies.</p>
                        <a href="business-mind.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Services 5-->
        <div class="tablo--1-ve-4">
            <div class="paketler wow fadeInRight" data-wow-delay="1.2s" onclick="location.href='financial-services.html';" style="cursor:pointer;">
                <div class="services-special">
                    <div class="inner-box serv-card">
                        <div class="icon-box">
                            <div class="anim-icon">
                                <span class="icon icon-1 color4"></span>
                                <span class="icon icon-2 color5"></span>
                                <span class="icon icon-3 color1"></span>
                            </div>
                            <i class="fas fa-code"></i>
                        </div>
                        <h3 class="h3-baslik-hizmet">&nbsp;&nbsp;Web&nbsp;&nbsp; Development</h3>
                        <p>At Digital Influence, we provide fully responsive websites with high quality services, chat and social integration and fast loading websites.</p>
                        <a href="financial-services.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Services 6-->
        <div class="tablo--1-ve-4">
            <div class="paketler wow fadeInRight" data-wow-delay="1.3s" onclick="location.href='data-security.html';" style="cursor:pointer;">
                <div class="services-special">
                    <div class="inner-box serv-card " style="padding-left:50px; padding-right:51px">
                        <div class="icon-box ">
                            <div class="anim-icon">
                                <span class="icon icon-1 color5"></span>
                                <span class="icon icon-2 color4"></span>
                                <span class="icon icon-3 color1"></span>
                            </div>
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        </div>
                        <h3 class="h3-baslik-hizmet">CMS Development</h3>
                        <!--<div class="bosluk333"></div>   for spacing-->
                        <p>We develop user-friendly content management system (CMS)  that allows you to add, modify & publish website content without any programming skill.</p>
                        <a href="data-security.html" class="custom-button">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--pack 1-->
    <section class="paketler-alani">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <div class="icon"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s"> <strong>Special Packs</strong> </h2>
        </div>
        <p class="h2-baslik-hizmetler-2__paragraf wow fadeInUp" data-wow-delay="0.5s">
            Select pricing plan to get more
        </p>
        <div class="bosluk3"></div>
        <div class="tablo">
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.6s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--1">
                            <div class="iconw"><i class="h-flaticon-039-servers-5"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">Static Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                4,5 Pages business website + Responsive Design + Content Upload + Optimized website.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ 5 Pages Design</li>
                                <li>✓ Free 1 Year Domain</li>
                                <li>✓ Free 1 Year Hosting</li>
                                <li>✓ Responsive Design</li>
                                <li style="margin-left:13%">✓ Free SSL Certificate</li>
                                
                                

                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-1">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">Static Website</p>
                                <p class="paketler3__pr-degeri">Rs.13,699</p>
                            </div>
                            <a href="#popup-it-support" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--pack 2-->
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.7s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--2">
                            <div class="iconw"><i class="h-flaticon-042-servers-4"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">Dynamic Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                5,7 Pages business website + Content Upload + SEO Optimized website + blog + More.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ 7 Pages Design</li>
                                <li>✓ Free 1 Year Domain</li>
                                <li>✓ 5 Professional Email IDs</li>
                                <li>✓ Admin Panel</li>
                                <li style="margin-left:13%">✓ SEO Friendly</li>
                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-2">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">Dynamic Website</p>
                                <p class="paketler3__pr-degeri">Rs.14,799</p>
                            </div>
                            <a href="#popup-cloud-service" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--pack 3-->
            <div class="tablo--1-ve-3">
                <div class="paketler3 wow flipInY" data-wow-delay="0.8s" data-tilt>
                    <div class="paketler3__on paketler3__on--onyazi">
                        <div class="paketler3__gorsel paketler3__gorsel--3">
                            <div class="iconw"><i class="h-flaticon-040-server"></i></div>
                            <h3 class="baslik-sol h-yazi-margin-kucuk">E-Commerce Website</h3>
                            <p class="services-kutu2--yazi wow fade">
                                Ecommerce Platform + SEO optimized + High Quality Design + Payment integration.
                            </p>
                        </div>
                        <div class="paketler3__icerik">
                            <ul>
                                <li>✓ Customised Design</li>
                                <li>✓ SEO Freindly</li>
                                <li>✓ Customised Admin Panel</li>
                                <li>✓ Payment Gateway Integration</li>
                                <li>✓ SMS Gateway Integration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="paketler3__on paketler3__on--arkayazi paketler3__on--arkayazi-3">
                        <div class="paketler3__pr">
                            <div class="paketler3__pr-kutu">
                                <p class="paketler3__pr-yazi">E-Commerce Website</p>
                                <p class="paketler3__pr-degeri">Rs.19,899</p>
                            </div>
                            <a href="#popup-server-virtual" class="buton buton--beyaz">Send Request!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}