{% extends 'index.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog Home</title>
</head>

<body>
    {% for project in projects %}
    <div>
        <h2>{{ project.name }}</h2>
        {% if project.image.exists %}
            <img src="{{ project.image.first.image.url }}" alt="{{ project.name }}">
        {% else %}
            <p>No image available.</p>
        {% endif %}
    </div>
{% endfor %}

</body>

</html>

{% endblock body %}