{% load static %}
<aside class="side-widget">
    <div class="inner">
        <!-- Logo Menu Mobile -->
        <div class="logo"> <a href="/"><img src="{% static 'frontend/img/logo1.png' %}" alt="Image"></a> </div>
        <div class="hide-mobile">
            <h6 class="widget-title">CONTACT INFO</h6>
            <address class="address">
            <p>+1 (234) 567 89 10<br>
              <a href="#">example@example.com</a></p>
            </address>
        </div>
        <div class="show-mobile">
            <div class="site-menu">
                <ul class="menu">
                    <li><a href="/">Home
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                    <li><a href="/about">About Us
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                    </li>
                    <li><a href="/services">Services </a><a class="sb" href="#" style="font-size: 18px">+
                    
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/services">Data Strategy
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                            <li><a class="dropdown-item" href="machine-learning.html">Machine Learning
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                            <li><a class="dropdown-item" href="software-solutions.html">Software Solutions
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                            <li><a class="dropdown-item" href="business-mind.html">Business Mind
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                            <li><a class="dropdown-item" href="financial-services.html">Financial Services
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                            <li><a class="dropdown-item" href="data-security.html">Data Security
                            <span class="border border-top"></span>
                            <span class="border border-right"></span>
                            <span class="border border-bottom"></span>
                            <span class="border border-left"></span>
                        </a></li>
                        </ul>
                    </li>
                    <li><a href="/projects">Projects
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a></li>
                    <li><a href="packages.html">Packages
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a></li>
                    <li><a href="clients.html">Clients
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a></li>
                    <li><a href="blog.html">Blog
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a></li>
                    <li><a href="/contact">Contact
                    <span class="border border-top"></span>
                    <span class="border border-right"></span>
                    <span class="border border-bottom"></span>
                    <span class="border border-left"></span>
                </a></li>
                </ul>
            </div>
        </div>
        
</aside>
<nav class="navbar" >
    <div class="container">
        <!-- Logo Menu Desktop -->
        <div class="logo"> <a href="/"><img src="{% static 'frontend/img/logo1.png' %}" alt="Image" style="position:relative; left:20%"></a> </div>
        <div class="site-menu" style="padding-left:20%">
            <ul class="menu">
                <li><a href="/">Home
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a></li>
                <li><a href="/about">About Us
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
                </li>
                <li><a href="/services">Services
            
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="data-strategy.html">Data Strategy
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                        <li><a class="dropdown-item" href="machine-learning.html">Machine Learning
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                        <li><a class="dropdown-item" href="software-solutions.html">Software Solutions
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                        <li><a class="dropdown-item" href="business-mind.html">Business Mind
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                        <li><a class="dropdown-item" href="financial-services.html">Financial Services
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                        <li><a class="dropdown-item" href="data-security.html">Data Security
                        <span class="border border-top"></span>
                        <span class="border border-right"></span>
                        <span class="border border-bottom"></span>
                        <span class="border border-left"></span>
                    </a></li>
                    </ul>
                </li>
                <li><a href="/projects">Projects
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a></li>
                
               
                <li><a href="/blogs">Blog
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a></li>
                <li><a href="/contact">Contact
                <span class="border border-top"></span>
                <span class="border border-right"></span>
                <span class="border border-bottom"></span>
                <span class="border border-left"></span>
            </a></li>
            </ul>
        </div>
        <div class="hamburger-menu"> <span></span> <span></span> <span></span> </div>
        <div class="navbar-button" id="navbar1"><a href="#"><i style="vertical-align: middle;" class="fas fa-headset fa-2x fa-flip-horizontal center"></i>&nbsp;&nbsp;&nbsp;+91 (889) 987 84 21</a> </div>
    </div>  
</nav>