.service-card1:hover{
    background-color: #ffb20f !important;
}
.service-card3:hover{
    background-color: #f55c6e !important;
}
.service-card2:hover{
background-color: #367284 !important;
}
.service-card4:hover{
    background-color: #6d8935 !important;
}
.service-icon1{
    color: #ffb20f !important;
}
.service-icon3{
    color: #f55c6e !important;
}
.service-icon2{
    color: #367284 !important;
}
.service-icon4{
    color: #6d8935 !important;
}
.about-paddingh3{
    padding-left:7% !important;
}
.color1{
    background-color: #f55c6e !important;
}
.color2{
    background-color: #445c16 !important;
}
.color3{
    background-color: #367284 !important;
}
.color4{
    background-color: #a626aa !important;
}
.color5{
    background-color: #5ecc62 !important;
}
.color6{
    background-color: #a25016 !important;
}
.serv-card{
    padding-top: 40px !important;
    padding-bottom: 5px !important;
}
.colorr1{
    color: #f55c6e !important;
}
.colorr2{
    color: #445c16 !important;
}
.colorr3{
    color: #367284 !important;
}
.colorr4{
    color: #a626aa !important;
}
.colorr5{
    color: #5ecc62 !important;
}
.colorr6{
    color: #a25016 !important;
}