{% extends 'backend.html' %}
{% load static %}
{% block content %}


<!-- add_blog.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
 

    </style>
</head>
<body>
    
    <div class="container mt-5">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    
        <h2>Services</h2>
        <table class="table table-bordered shadow border-none">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.title }}</td>
                    <td>{{ service.description|safe|truncatechars:30 }}</td>
                    <td>
                        <!-- Edit Icon -->
                        <a href="{% url 'backendapp:edit_service' service.id %}" class="btn btn-md text-primary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <!-- Delete Icon -->
                        <a href="{% url 'backendapp:delete_service' slug=service.slug %}" class="btn btn-md text-danger" onclick="return confirm('Are you sure you want to delete this service?');">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">No services available</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


 
    </div>
    
</body>
</html>

{% endblock %}