{% extends 'backend.html' %}
{% load static %}
{% block content %}


<!-- add_blog.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Blog</title>
 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
 

    </style>
</head>
<body>
    
   <!-- backend/pages/view_blog_detail.html -->

<div class="container mt-2">
    <h2>{{ blog.title }}</h2>
    <div class="responsive shadow p-3 my-4 me-1">
        <p><strong>Author:</strong> {{ blog.author }}</p><hr>
        <p><strong>Date:</strong> {{ blog.created_at|date:"F d, Y" }}</p><hr>
        <p><strong>Category:</strong>  
        {% for category in blog.categories.all %}
            {{ category.name }},
        {% endfor %}</p><hr>
        <p><strong>Tags:</strong>
            {% for tag in blog.tags.all %}
                {{ tag.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p><hr>
        <p><strong>Content:</strong></p>
        <div>
            {{ blog.content|safe }}
        </div>
    
        <a href="{% url 'backendapp:dashboard' %}" class="btn btn-primary mt-3">Back to Dashboard</a>
    </div>
    
</div>

</body>
</html>

{% endblock %}