{% extends 'backend.html' %}
{% load static %}
{% block content %}


<!-- add_blog.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
 

    </style>
</head>
<body>
    
    <div class="container mt-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        
        <h2>Project Details: {{ project.name }}</h2>
        <table class="table table-bordered">
            <thead>
                <tr class="shadow">
                    <th>Description</th>
                    <th>Category</th>
                    <th>Client</th>
                    <th>Project Date</th>
                    <th>Images</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.description|truncatechars:20 }}</td>
                    <td>{{ project.category }}</td>
                    <td>{{ project.client }}</td>
                    <td>{{ project.project_date }}</td>
                    <td>
                        {% for img in project.images.all|slice:"1" %}
                            <img style="height: 70px; width: 80px;" src="{{ img.image.url }}" alt="Image for {{ project.name }}" width="100">
                        {% empty %}
                            No images available.
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'backendapp:edit_project' project.id %}" class="me-2 text-decoration-none" title="Edit">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{% url 'backendapp:delete_project' project.id %}" class="text-danger" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    
</body>
</html>

{% endblock %}