{% extends 'backend.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetForge Technologies Dashboard</title>
   
    
    <style>
        /* styles.css */

body {
    /* margin: 0; */
    font-family: Arial, sans-serif;
    /* display: flex; */
}

.main-content {
    /* flex: 1; */
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    background-color: #ecf0f1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C437F;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.header-actions .btn {
    background-color: #1C437F;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.header-actions .btn:hover {
    background-color: #1c6383;
}

.dashboard-cards {
    display: flex;
    gap: 40px;
}

.card {
    /* background-color: #fff; */
    border-radius: 10px;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    padding: 14px;
    /* width: 220px; */
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 5px 0 0;
}
.cardsss {
    background-color: #367284;
    color: white;
}
.cardx{
    background-color: #F55C6E;
    color: white;
}
.cardz{
    background-color: #FFB20F;
    color: white;
}
.cardss{
    background-color: #6D8935;
    color: white;
}

.bi{
  size: 70px !important;
  height: 80px;
  font-weight: 800;
  /* color: rgb(0, 99, 121); */
  font-size: 50px !important;
  /* background-color: #1c6383; */
  text-align: center;
  padding-left: 0px;
  border-radius: 12px;

}
.table {
    border: none;
    border-bottom: 2px solid #dee2e6; /* Adjust the color and thickness as needed */
}

.table th,
.table td {
    border: none; /* Remove all borders */
}

.table tr {
    border-bottom: 1px solid #dee2e6; /* Bottom border for rows */
}
.bg-secon{
    background-color: #D4ECFF;
}

.tabbb {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 19px;
}
.nav-tabs {
        border: 1px solid transparent; /* Use transparent to avoid border collapsing */
    }

    .nav-tabs .nav-link {
        border: 1px solid transparent; /* Transparent border */
        border-radius: 0; /* Remove border-radius for a sharper look */
        transition: border-color 0.3s; /* Smooth transition for border color */
        color: #050b11;
    }

    .nav-tabs .nav-link.active {
        border-color: #050b11; /* Change color for the active tab */
        background-color: #407bc8; /* Background color for the active tab */
        color: #f3f4f5;
    }

    .nav-tabs .nav-link:hover {
        border-color: #08121d; /* Change border color on hover */
        background-color: rgb(77, 167, 199); /* Light background on hover */
    }

    .pagination {
    margin: 20px 0;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
}

.pagination .current {
    margin: 0 5px;
    font-weight: bold;
}
.nav-item .badge {
    font-size: 0.75rem; 
    transform: translateY(-229%);
    margin-left: 42px;
    font-size: 14px;   
    background-color: rgb(197, 53, 53);
    color: #ebe7e6;
}
.nav-item .badge:hover {
    color: white;
    /* font-size: medium; */
    background-color: #3584a9;
}
.chart-container {
    position: relative;
    width: 100%;
    height: 400px;  /* Adjust the height as needed */
}

        /* Optional: Reduce margin between the charts */
        canvas {
            margin-bottom: 20px;
        }
    </style>
   
</head>
<body>
   


    <div class="container">
    <div class="row">
        <div class="col-12">
            <main class="main-content">
                <header class="header">
                    <h2>Welcome, Admin</h2>
                    <div class="header-actions">
                        <button class="btn">Profile</button>
                        <!-- <button class="btn">Logout</button> -->
                    </div>
                </header>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
    
                <section class="dashboard-cards">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12 mb-2">
                                <div class="card cardsss">
                                    <h3 class="text-center">Clients</h3>
                                    <i class="bi bi-person-rolodex"></i>
                                    <p class="text-center"><strong>Number of Clients</strong></p>
                                    <p class="text-center fw-bold fs-5">{{ total_clients|default:0 }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-2">
                                <div class="card cardx">
                                    <h3 class="text-center">Projects</h3>
                                    <i class="bi bi-gear-wide-connected"></i>
                                    <p class="text-center"><strong>Ongoing Projects</strong></p>
                                    <p class="text-center  fw-bold fs-5">{{ total_projects|default:0 }}</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-2">
                                <div class="card cardz">
                                    <h3 class="text-center">Blogs</h3>
                                    <i class="bi bi-layout-text-window"></i>
                                    <p class="text-center"><strong>Number of Blogs</strong></p>
                                    <p class="text-center fw-bold fs-5">{{ blog_count|default:0 }} </p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12 mb-2">
                                <div class="card cardss">
                                    <h3 class="text-center">Comments</h3>
                                    <i class="bi bi-chat-right-dots"></i>
                                    <p class="text-center"><strong>Total Comments</strong></p>
                                    <p class="text-center"><strong class="fs-5">{{ total_comments|default:0 }}</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Combined Doughnut Chart -->
                <!-- Combined Chart -->
                <div class="chart-container d-none d-block">
                    <canvas id="combinedChart"></canvas>
                </div>
            
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
                
                <!-- <script>
                    // Combined Chart Data
                    const combinedChart = new Chart(document.getElementById('combinedChart'), {
                        type: 'doughnut',
                        data: {
                            labels: [
                                'Active Blogs', 'Deleted Blogs',
                                'Active Projects', 'Deleted Projects',
                                'Active Quote Requests', 'Deleted Quote Requests',
                                'Active Services', 'Deleted Services'
                            ],
                            datasets: [{
                                label: 'Overview Data',
                                data: [
                                    {{ blog_count|default:0 }}, {{ deleted_blogs|default:0 }},
                                    {{ total_projects|default:0 }}, {{ deleted_projects|default:0 }},
                                    {{ total_requests|default:0 }}, {{ deleted_requests|default:0 }},
                                    {{ total_services|default:0 }}, {{ deleted_services|default:0 }}
                                ],
                                backgroundColor: [
                                    '#36A2EB', '#FF6384',  // Colors for Blogs
                                    '#4BC0C0', '#FF9F40',  // Colors for Projects
                                    '#9966FF', '#FFCD56',  // Colors for Quote Requests
                                    '#C9CBCF', '#F7464A'   // Colors for Services
                                ]
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,  // Adjust chart size if necessary
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                },
                                tooltip: {
                                    enabled: true  // You can enable/disable tooltips
                                },
                                datalabels: {
                                    color: '#fff',
                                    anchor: 'end',
                                    align: 'start',
                                    formatter: function(value, context) {
                                        const total = context.chart.data.datasets[0].data.reduce((a, b) => a + b, 0);
                                        const percentage = total ? ((value / total) * 100).toFixed(2) + '%' : '0%';
                                        return percentage;  // Show the percentage directly on the chart
                                    },
                                    font: {
                                        weight: 'bold',
                                        size: 14  // Adjust the font size as needed
                                    }
                                }
                            }
                        },
                        plugins: [ChartDataLabels]  // Enable the Chart Data Labels plugin
                    });
                </script> -->
            </main>
        </div>
    </div>
     


    <div class="container mt-5">
        <h2>Overview</h2>
    
        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link tabbb {% if active_tab == 'blogs' %}active{% endif %}" id="blogs-tab" data-bs-toggle="tab" href="#blogs" role="tab" aria-controls="blogs" aria-selected="{% if active_tab == 'blogs' %}true{% else %}false{% endif %}">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tabbb {% if active_tab == 'requests' %}active{% endif %}" id="requests-tab" data-bs-toggle="tab" href="#requests" role="tab" aria-controls="requests" aria-selected="{% if active_tab == 'requests' %}true{% else %}false{% endif %}">Requests</a>
                <span class="position-absolute badge rounded-pill">
                    {{ total_requests }}
                    <span class="visually-hidden">unread messages</span>
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link tabbb {% if active_tab == 'projects' %}active{% endif %}" id="projects-tab" data-bs-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="{% if active_tab == 'projects' %}true{% else %}false{% endif %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tabbb {% if active_tab == 'services' %}active{% endif %}" id="services-tab" data-bs-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="{% if active_tab == 'services' %}true{% else %}false{% endif %}">Services</a>
            </li>            
        </ul>
    
        <!-- Tab Content -->
        <div class="tab-content" id="myTabContent">
            <!-- Blogs Tab -->
            <div class="tab-pane fade {% if active_tab == 'blogs' %}show active{% endif %}" id="blogs" role="tabpanel" aria-labelledby="blogs-tab">
                <h3 class="my-2">Blog Posts</h3>
                <div class="table-responsive">  <!-- Add this div -->
                <table class="table">
                    <thead>
                        <tr class="bg-secon">
                            <th>ID</th>
                            <th>Title</th>
                            <th>Content</th>
                            <th>Author</th>
                            <th>Image</th>
                            <th>Date</th>
                            <th>Actions</th> <!-- Added Actions Column -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for blog in blogs %}
                        <tr>
                            <td>{{ blog.id }}</td>
                            <td>{{ blog.title }}</td>
                            <td>{{ blog.content|safe|truncatechars:30 }}</td>
                            <td>{{ blog.author.username }}</td>
                            <td>
                                {% if blog.image %}
                                    <img style="height: 60px; width: 80px;" src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 100px;">
                                {% else %}
                                    No Image
                                {% endif %}
                            </td>
                            <td>{{ blog.created_at|date:'F j, Y' }}</td>
                            <td>
                                <a href="{% url 'backendapp:view_blog_detail' slug=blog.slug %}" class="btn btn-success btn-sm px-3">View</a> <!-- View Button -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7">No blog posts available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if blogs.has_previous %}
                            <a href="?blog_page=1" class="btn btn-sm btn-primary text-decoration-none">&laquo; First</a>
                            <a href="?blog_page={{ blogs.previous_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Previous</a>
                        {% endif %}
    
                        <span class="current">
                            Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
                        </span>
    
                        {% if blogs.has_next %}
                            <a href="?blog_page={{ blogs.next_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Next</a>
                            <a href="?blog_page={{ blogs.paginator.num_pages }}" class="btn btn-sm btn-primary text-decoration-none">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
    
            <!-- Requests Tab -->
            <div class="tab-pane fade {% if active_tab == 'requests' %}show active{% endif %}" id="requests" role="tabpanel" aria-labelledby="requests-tab">
                <h3 class="my-2">Quote Requests</h3>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Company</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="alert alert-info">
                                <strong>New Requests:</strong> {{ new_requests }} 
                            </div>
                            {% for quoterequest in requests %}
                            
                            <tr class="{% if not quoterequest.is_seen %}table-warning{% endif %}"> <!-- Highlight if new -->
                                <td>{{ quoterequest.name }}</td>
                                <td>{{ quoterequest.email }}</td>
                                <td>{{ quoterequest.phone }}</td>
                                <td>{{ quoterequest.company }}</td>
                                <td>{{ quoterequest.message|truncatechars:30 }}</td>
                                <td>
                                    <a href="{% url 'backendapp:delete_request' quoterequest.id %}" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">No quote requests available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if requests.has_previous %}
                            <a href="?request_page=1&active_tab=requests" class="btn btn-sm btn-primary text-decoration-none">&laquo; First</a>
                            <a href="?request_page={{ requests.previous_page_number }}&active_tab=requests" class="btn btn-sm btn-primary text-decoration-none">Previous</a>
                        {% endif %}
                        <span class="current">Page {{ requests.number }} of {{ requests.paginator.num_pages }}.</span>
                        {% if requests.has_next %}
                            <a href="?request_page={{ requests.next_page_number }}&active_tab=requests" class="btn btn-sm btn-primary text-decoration-none">Next</a>
                            <a href="?request_page={{ requests.paginator.num_pages }}&active_tab=requests" class="btn btn-sm btn-primary text-decoration-none">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            
                <a href="{% url 'backendapp:view_quote_requests' %}" class="text-decoration-none align-items-center" title="View">
                    <button class="btn btn-lg px-4 shadow py-1 shadow mb-3 btn-info" style="font-size: 17px; font-weight: 600; border-radius: 0;">See All</button>
                </a>
            </div>



    
            <!-- Projects Tab -->
            <div class="tab-pane fade {% if active_tab == 'projects' %}show active{% endif %}" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                <h3 class="my-2">Projects</h3>
                <div class="table-responsive">  <!-- Add this div -->
                <table class="table">
                    <thead>
                        <tr class="bg-secon">
                            <th>Name</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Image</th>
                            <th>Project Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description|truncatechars:30 }}</td>
                            <td>{{ project.category }}</td>
                            <td>
                                {% if project.images.all %}
                                {% for img in project.images.all|slice:"2" %}
                                    <img style="height: 60px; width: 80px;" src="{{ img.image.url }}" alt="Project Image" style="max-width: 100px; margin-right: 5px;">
                                {% endfor %}
                                {% else %}
                                No Image
                                {% endif %}
                            </td>
                            <td>{{ project.project_date }}</td>
                            <td>
                                <a href="{% url 'backendapp:view_project_detail' project.id %}" class="btn btn-success px-3 btn-sm">View</a> <!-- View Button -->
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No projects available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
    
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if projects.has_previous %}
                            <a href="?project_page=1" class="btn btn-sm btn-primary text-decoration-none">&laquo; First</a>
                            <a href="?project_page={{ projects.previous_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Previous</a>
                        {% endif %}
    
                        <span class="current">
                            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
                        </span>
    
                        {% if projects.has_next %}
                            <a href="?project_page={{ projects.next_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Next</a>
                            <a href="?project_page={{ projects.paginator.num_pages }}" class="btn btn-sm btn-primary text-decoration-none">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
              <!-- Services Tab -->
              <div class="tab-pane fade {% if active_tab == 'services' %}show active{% endif %}" id="services" role="tabpanel" aria-labelledby="services-tab">
                <h3 class="my-2">Services</h3>
                <div class="table-responsive">  <!-- Add this div -->
                <table class="table">
                    <thead>
                        <tr class="bg-secon">
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                        <tr>
                            <td>{{ service.id }}</td>
                            <td>{{ service.title }}</td>
                            <td>{{ service.description|safe|truncatechars:30 }}</td>
                            <td>
                                <a href="{% url 'backendapp:service_detail' slug=service.slug %}" class="btn btn-success btn-sm px-3">View</a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No services available.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
    
                <!-- Pagination Controls -->
                <div class="pagination">
                    <span class="step-links">
                        {% if services.has_previous %}
                            <a href="?service_page=1" class="btn btn-sm btn-primary text-decoration-none">&laquo; First</a>
                            <a href="?service_page={{ services.previous_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Previous</a>
                        {% endif %}
    
                        <span class="current">
                            Page {{ services.number }} of {{ services.paginator.num_pages }}.
                        </span>
    
                        {% if services.has_next %}
                            <a href="?service_page={{ services.next_page_number }}" class="btn btn-sm btn-primary text-decoration-none">Next</a>
                            <a href="?service_page={{ services.paginator.num_pages }}" class="btn btn-sm btn-primary text-decoration-none">Last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
    
    

<!-- Include Bootstrap and jQuery if not already included -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

       
    </div>
</body>
</html>
{% endblock %}